# ignore all generated scripts
starterKits/scripts/py/run-load-job-AMLGraph.py
starterKits/scripts/py/run-load-job-COVID19Graph.py
starterKits/scripts/py/run-load-job-CentralityAlgorithmsGraph.py
starterKits/scripts/py/run-load-job-CommunityDetectionGraph.py
starterKits/scripts/py/run-load-job-ConvolutionalNetworkGraph.py
starterKits/scripts/py/run-load-job-Cust360Graph.py
starterKits/scripts/py/run-load-job-CyberSecThreatDetectionGraph.py
starterKits/scripts/py/run-load-job-DataLineageGraph.py
starterKits/scripts/py/run-load-job-EnterpriseKnowledgeCorpGraph.py
starterKits/scripts/py/run-load-job-EnterpriseKnowledgeCrunchbaseGraph.py
starterKits/scripts/py/run-load-job-EntityResMDMGraph.py
starterKits/scripts/py/run-load-job-FinServPaymentFraudGraph.py
starterKits/scripts/py/run-load-job-FraudFinServGraph.py
starterKits/scripts/py/run-load-job-GSQL101Graph.py
starterKits/scripts/py/run-load-job-HealthCareFAERSGraph.py
starterKits/scripts/py/run-load-job-HealthCareReferralsGraph.py
starterKits/scripts/py/run-load-job-InDBBGMLGraph.py
starterKits/scripts/py/run-load-job-InDBMLGraph.py
starterKits/scripts/py/run-load-job-LowRankApproxMLGraph.py
starterKits/scripts/py/run-load-job-ML_RTFraudGraph.py
starterKits/scripts/py/run-load-job-NetworkITResourceOptimizationGraph.py
starterKits/scripts/py/run-load-job-Rec2HyperMarketingGraph.py
starterKits/scripts/py/run-load-job-RecEngMovieGraph.py
starterKits/scripts/py/run-load-job-ShortestPathAlgorithmsGraph.py
starterKits/scripts/py/run-load-job-SocialNetGraph.py
starterKits/scripts/py/run-load-job-SupplyChainGraph.py
starterKits/scripts/py/tg_createDataSource.py
starterKits/scripts/py/tg_createDataSource_orig.py

